img{

	border-style: solid;
	border-color: #4933FF;
	border-width: 10px;
	opacity: 0.75;	
	padding: 5px;

}
table
{
	font-family: serif;
	font-size: 15px;
}
body{
	background-color: lightblue;
}
img:hover{
	opacity: 1;
